
body{
  color: #40514E;
  margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 ;
  font-family: 'Montez', cursive;
  line-height: 2;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

span{
  text-decoration: underline;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: #EAF6F6;
  border-width: 7px;
  width: 10%;
  margin: 100px auto;
}
.top{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{
 margin: 100px 0;
}
.bottom-container{
 background-color: #11999E;
 padding: 40px;
}
.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottomcloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.profile{
  border-radius: 10%;
}

.code{
  border-radius: 10%;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.codeimg{
  width: 25%;
  float: left;
  margin: 30px;
}
.comp{
  width: 25%;
  float: right;
  margin: 30px;
}
.intro{
  width: 30%;
  margin: auto;
}

.conatact-message{
  margin-bottom: 35px;
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  color:#66BFBF;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.cpy{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
